.rest{
    background-color: #87B3BD;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px;
}

#start{
    background-color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    width: 250px;
}

#des{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-size: 18px;
    color: black(255, 255, 255);
    padding-top: 20px;
}

.cards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}