.rest{
    background-color: #87B3BD;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    padding: 15px;
    width: 100%;
}

#start{
    background-color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    width: 250px;
}

#des{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-size: 18px;
    color: black(255, 255, 255);
    padding-top: 20px;
}

.cards{
    display: grid;
    justify-items: center;
    align-items: center;
    width: 100%;
    grid-template-columns: repeat(3, 1fr);
    
}

@media screen and (max-width:950px){
    .cards{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 15px;
    }
}


@media screen and (max-width:650px){
    .cards{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        
    }
}