
#movieCard{
    height: 200px;
    width: 200px;
    object-fit: cover;
}


.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 300px;
    width: 300px;
    border-radius: 5px;
    backdrop-filter: blur(5px); /* Applies a blur effect to the background behind the element */
    background-color: #76a5b1;
    gap: 10px;
    
}

.card h4{
    color: white;
}
